.login-page {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-page h1 {
  color: #ffc0cb;
  font-size: 40px;
  font-family: fantasy;
}
.login-page--form {
  display: flex;
  flex-direction: column;
}
.login-page--form > div,
.login-page--form--buttons {
  margin: 8px;
  min-width: 400px;
}
.login-page--form--buttons {
  display: flex;
  justify-content: flex-end;
}
.login-page--form--buttons .login-page--form--buttons__clear {
  margin-left: 10px;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #b0b0b3;
  display: flex;
  justify-content: space-between;
}
